.class {
  width: 100%;
  position: relative;

  @media (min-width: 1920px) {
    width: 1920px;
    margin: 0 auto;
  }

  .container_card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    padding: 150px 0;

    .card {
      width: 300px;
      height: 400px;
      background: white;
      box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.2);
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 20px;

      .card_header {
        width: 100%;
        height: 50%;
        img {
          width: 100%;
          height: 100%;
        }
      }

      .card_body {
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0 20px;

        p {
          border-bottom: 1px solid gray;
          display: flex;
          justify-content: space-between;
          spab {
            display: inline-block;
          }
        }
      }

      .card_footer {
        display: flex;
        align-items: center;
        width: 100%;
        height: 10%;

        button {
          width: 50%;
          height: 100%;
          text-transform: uppercase;
          font-weight: 800;
          cursor: pointer;
          border: none;

          &:nth-child(1){
            background: rgba(36, 143, 36, 0.59);
            color: white;
          }

          &:nth-child(2){
            background: red;
            color: white;
          }

        }
      }

    }
  }

  .icon {
    position: absolute;
    bottom: 1.5em;
    right: 1.5em;
    font-size: 25px;
    cursor: pointer;
  }

  .delete {
    position: absolute;
    padding: 10px 20px;
    background: red;
    top: 2em;
    right: 2em;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

}

.container {
  width: 100%;

  @media (min-width: 1920px) {
    width: 1920px;
    margin: 0 auto;
    height: 1000px;
  }

  position: relative;
  .container_text {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 1920px) {
      height: 1000px;
    }

    h1 {
      display: flex;
      align-items: center;

      .icon {
        margin-left: 20px;
        color: deepskyblue;
        cursor: pointer;
      }
    }
  }

  .delete {
    position: absolute;
    padding: 10px 20px;
    background: red;
    top: 2em;
    right: 2em;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

}