.info {
  width: 100%;

  @media (min-width: 1920px) {
    width: 1920px;
    margin: 0 auto;
  }

  .title {
    text-align: center;
    margin: 40px 0;
  }
  .frame1 {
    width: 100%;
    height: 700px;
    display: flex;

    @media (max-width: 768px) {
      flex-direction: column;
      height: fit-content;
      margin-bottom: 30px;
    }

    @media (min-width: 768px) {
      flex-direction: row;
      margin: 0;
    }

    .left, .right {
      width: 50%;
      @media (max-width: 768px) {
        width: 100%;
      }
    }

    .left {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .right {
      display: flex;
      justify-content: center;

      .container {
        margin: auto 0;
        width: 50%;
        @media (max-width: 768px) {
          width: 100%;
        }
        h1 {
          text-align: start;
          margin-bottom: 5px;
          @media (max-width: 768px) {
            font-size: 10vw;
          }

          @media (min-width: 768px) {
            font-size: 5vw;
          }
          
          @media (min-width: 1440px) {
            font-size: 60px;
          }
        }
        p {
          @media (max-width: 768px) {
            font-size: 4.5vw;
          }

          @media (min-width: 768px) {
            font-size: 2vw;
          }

          @media (min-width: 1440px) {
            font-size: 25px;
          }
        }
      }
    }

  }

  .frame2 {
    width: 100%;
    height: 700px;
    display: flex;
    
    @media (max-width: 768px) {
      flex-direction: column-reverse;
      height: fit-content;
      margin-bottom: 30px;
    }
    
    @media (min-width: 768px) {
      flex-direction: row;
      margin: 0;
    }

    .left, .right {
      width: 50%;
      @media (max-width: 768px) {
        width: 100%;
      }
    }

    .right {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .left {
      display: flex;
      justify-content: center;

      .container {
        margin: auto 0;
        width: 50%;
        @media (max-width: 768px) {
          width: 100%;
        }
        h1 {
          text-align: start;
          margin-bottom: 5px;
          @media (max-width: 768px) {
            font-size: 10vw;
          }

          @media (min-width: 768px) {
            font-size: 5vw;
          }

          @media (min-width: 1440px) {
            font-size: 60px;
          }
        }
        p {
          @media (max-width: 768px) {
            font-size: 4.5vw;
          }

          @media (min-width: 768px) {
            font-size: 2vw;
          }

          @media (min-width: 1440px) {
            font-size: 25px;
          }
        }
      }
    }

  }

}